<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zht.moduleview" >


    <application
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" />
        <activity android:name=".activity.CustomiseViewActivity" />
        <activity android:name=".activity.SystemViewActivity" />
        <activity android:name=".activity.system.EditTextActivity" />
        <activity android:name=".activity.customise.CalendarActivity" />
    </application>


</manifest>
