<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zht.moduleview"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" />
        <activity android:name=".activity.CustomiseViewActivity" />
        <activity android:name=".activity.SystemViewActivity" />
        <activity android:name=".activity.system.EditTextActivity" />
        <activity android:name=".activity.customise.CalendarActivity" />
        <activity android:name=".activity.system.ProgressActivity" />
        <activity android:name=".activity.system.SCalendarActivity" />
        <activity android:name=".activity.system.ViewPagerActivity" />
        <activity android:name=".activity.system.ViewPager2Activity" />
        <activity android:name=".activity.customise.VerifyCodeEditActivity" />
        <activity android:name=".qucikindex.QuickIndexActivity" />
        <activity android:name=".activity.customise.DragActivity" />
        <activity android:name=".activity.customise.ImageActivity" />
        <activity android:name=".activity.system.CustomCardViewActivity" />
        <activity android:name=".activity.system.CoordinatorActivity" />
        <activity android:name=".activity.system.coordinator.CoordinatorBehaviorActivity" />
        <activity android:name=".activity.system.coordinator.CoordinatorTabActivity" />
    </application>


</manifest>
