<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zht.moduletool">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".ToolApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".activity.ToastActivity" />
        <activity android:name=".activity.StatusBarActivity" />
        <activity android:name=".activity.BitmapCacheActivity" />
        <activity android:name=".activity.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|layoutDirection"/>
        <activity android:name=".activity.PermissionRequestActivity" />
        <activity android:name=".activity.ScreenActivity" />
        <activity android:name=".activity.InteractiveVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|layoutDirection"/>
        <activity android:name=".activity.StorageActivity"/>
        <activity android:name=".activity.TrigonometricFunctionsActivity" />

    </application>

</manifest>