<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zht.moduleone"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:theme="@style/AppTheme">

        <activity android:name=".activity.ModuleOneMainActivity"/>

    </application>

</manifest>
