<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zht.modulehome">

    <application android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" />
        <activity android:name=".activity.CameraXActivity" />
        <activity android:name=".activity.camerax.PreviewActivity" />
        <activity android:name=".activity.camerax.TakePictureActivity" />
        <activity android:name=".activity.camerax.TakeVideoActivity" />
        <activity android:name=".activity.DataStoreActivity" />
        <activity android:name=".activity.JetpackActivity" />
        <activity android:name=".activity.HiltActivity" />
        <activity android:name=".activity.SecurityActivity" />
        <activity
            android:name=".compose.ComposeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.BottomTabActivity" />

        <activity android:name=".activity.Camera2Activity" />
        <activity android:name=".activity.camera2.PreviewActivity" />
        <activity android:name=".activity.camera2.TakePictureActivity" />
        <activity android:name=".activity.camera2.TakeVideoActivity" />
        <activity android:name=".activity.AccountBookActivity" />

    </application>

</manifest>
