<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zht.modulelibrary"
    xmlns:tools="http://schemas.android.com/tools">




    <application
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" />
        <activity android:name=".activity.JsoupActivity" />
        <activity android:name=".activity.cartoon.CartoonActivity" />
        <activity android:name=".activity.cartoon.CartoonWatchActivity" />
        <activity android:name=".activity.ZXingActivity" />
        <activity android:name=".activity.CameraXActivity" />
        <activity android:name=".activity.camerax.PreviewActivity" />
        <activity android:name=".activity.camerax.TakePictureActivity" />
        <activity android:name=".activity.camerax.TakeVideoActivity" />
        <activity android:name=".activity.DataStoreActivity" />
    </application>


</manifest>
