<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zht.moduletool"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"/>
        <activity android:name=".sample.ToastActivity" />
        <activity android:name=".sample.StatusBarActivity" />
        <activity android:name=".sample.BitmapCacheActivity" />
        <activity android:name=".sample.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|layoutDirection"/>
        <activity android:name=".sample.PermissionAcrivity" />
        <activity android:name=".sample.ScreenActivity" />
        <activity android:name=".sample.InteractiveVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|layoutDirection"/>

    </application>



</manifest>