<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zht.moduletool" >

    <application
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"/>
        <activity android:name=".sample.ToastActivity" />
        <activity android:name=".sample.StatusBarActivity" />

    </application>



</manifest>